@import url('bootstrap.css');
@import url('button.css');
@import url('nav.css');
@import url('home-page.css');
@import url('pagination.css');
@import url('statements.css');

:root {
    --bs-blue: #5552e8;
    --bs-blue-hover: #3836b9;
    --main: #212b31;
}

body {
    background-color: #fff;
    letter-spacing: 0.03rem;
}